# Let's prepare!
Notebook for preparing our data.
We'll apply 3 types of transformations to it:
1. Imputing its null values;
2. Standardizing it;
3. Window it into time windows.

The processes will be applied to each file individually.
After done, we can join the results from each file to train our models.

### Imputing null values
Para as variáveis numéricas, realizaremos:
- se inteiramente nula: preencher zero; (TODO: testar usar média do seu tipo de anomalia)
- se parcialmente nula: interpolação linear + bfill + ffill.


Para 'class' realizaremos:
- se inteiramente nula: preencher com o seu tipo de anomalia; (TODO: verificar validade desta suposição)
- se parcialmente nula: bfill + ffill.

In [2]:
pp.process_events(
    process_fc=pp.transform_with_imputation, 
    process_fc_args=tuple(zip(
        imp_metadata['path'], imp_metadata['type_'], 
        repeat(imp_input_path), repeat(imp_output_path), 
        repeat(numeric_means_by_event_type), 
    )),
    output_folder=imp_output_path, 
    use_cached=False,

)

NameError: name 'pp' is not defined

In [15]:
import sys

sys.path.append("..")  # Allows imports from sibling directories

from constants import utils, config
ex_path = "dataset_converted_v10101_split-20_source-all_class-all_well-all_train/4/WELL-00001_20170316120203.parquet"
ex_event = utils.get_event(config.DIR_PROJECT_DATA / ex_path)
ex_event[0:10]

,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class
timestamp,,,,,,,,,
2017-03-16 12:02:03,38265830.0,13654450.0,117.1953,6029680.0,68.64587,3283309.0,NaN,0.0,4
2017-03-16 12:02:04,38265830.0,13654520.0,117.1947,6030228.0,68.64333,3283309.0,NaN,0.0,4
2017-03-16 12:02:05,38265830.0,13654580.0,117.1942,6030777.0,68.64080,3283308.0,NaN,0.0,4
2017-03-16 12:02:06,38265830.0,13654650.0,117.1937,6031326.0,68.63827,3283308.0,NaN,0.0,4
2017-03-16 12:02:07,38265830.0,13654710.0,117.1932,6031875.0,68.63573,3283308.0,NaN,0.0,4
2017-03-16 12:02:08,38265830.0,13654780.0,117.1926,6032423.0,68.63321,3283307.0,NaN,0.0,4
2017-03-16 12:02:09,38265830.0,13654840.0,117.1921,6032972.0,68.63068,3283307.0,NaN,0.0,4
2017-03-16 12:02:10,38265830.0,13654900.0,117.1916,6033521.0,68.62814,3283307.0,NaN,0.0,4
2017-03-16 12:02:11,38265830.0,13654970.0,117.1911,6034070.0,68.62561,3283306.0,NaN,0.0,4
2017-03-16 12:02:12,38265830.0,13655030.0,117.1906,6034618.0,68.62308,3283306.0,NaN,0.0,4

In [17]:
import pandas as pd


# Create a DataFrame
df = pd.DataFrame({
    'P-PDG': [38265830.0] * 10,
    'P-TPT': [13654450.0, 13654520.0, 13654580.0, 13654650.0, 13654710.0, 13654780.0, 13654840.0, 13654900.0, 13654970.0, 13655030.0],
    'T-TPT': [117.1953, 117.1947, 117.1942, 117.1937, 117.1932, 117.1926, 117.1921, 117.1916, 117.1911, 117.1906],
    'P-MON-CKP': [6029680.0] * 10,
    'T-JUS-CKP': [68.64587, 68.64333, 68.64080, 68.63827, 68.63573, 68.63321, 68.63068, 68.62814, 68.62561, 68.62308],
    'P-JUS-CKGL': [3283309.0] * 10,
    'T-JUS-CKGL': [float('NaN')] * 10,
    'QGL': [0.0] * 10,
    'class': [4] * 10
})

# Set the timestamp as the index
df.index = pd.to_datetime([
    '2017-03-16 12:02:03', '2017-03-16 12:02:04', '2017-03-16 12:02:05', '2017-03-16 12:02:06', '2017-03-16 12:02:07',
    '2017-03-16 12:02:08', '2017-03-16 12:02:09', '2017-03-16 12:02:10', '2017-03-16 12:02:11', '2017-03-16 12:02:12'
])

# Print the DataFrame
df

,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class
2017-03-16 12:02:03,38265830.0,13654450.0,117.1953,6029680.0,68.64587,3283309.0,NaN,0.0,4
2017-03-16 12:02:04,38265830.0,13654520.0,117.1947,6029680.0,68.64333,3283309.0,NaN,0.0,4
2017-03-16 12:02:05,38265830.0,13654580.0,117.1942,6029680.0,68.64080,3283309.0,NaN,0.0,4
2017-03-16 12:02:06,38265830.0,13654650.0,117.1937,6029680.0,68.63827,3283309.0,NaN,0.0,4
2017-03-16 12:02:07,38265830.0,13654710.0,117.1932,6029680.0,68.63573,3283309.0,NaN,0.0,4
2017-03-16 12:02:08,38265830.0,13654780.0,117.1926,6029680.0,68.63321,3283309.0,NaN,0.0,4
2017-03-16 12:02:09,38265830.0,13654840.0,117.1921,6029680.0,68.63068,3283309.0,NaN,0.0,4
2017-03-16 12:02:10,38265830.0,13654900.0,117.1916,6029680.0,68.62814,3283309.0,NaN,0.0,4
2017-03-16 12:02:11,38265830.0,13654970.0,117.1911,6029680.0,68.62561,3283309.0,NaN,0.0,4
2017-03-16 12:02:12,38265830.0,13655030.0,117.1906,6029680.0,68.62308,3283309.0,NaN,0.0,4

In [10]:
n = 5
ex_event.resample(f'{n}s').mean()

UnsupportedFunctionCall: numpy operations are not valid with resample. Use .resample(...).mean() instead

In [ ]:
import numpy as np

np.hstack([ex_event[c] for c in ex_event.columns])




np.hstack([np.array(ex_event[c]).reshape((ex_event.shape[0], 1)) for c in ex_event.columns])[0]

array([3.826583e+07, 1.365445e+07, 1.171953e+02, 6.029680e+06,
       6.864587e+01, 3.283309e+06,          nan, 0.000000e+00,
       4.000000e+00])