In [1]:
import sys

sys.path.append("..")  # Allows imports from sibling directories

from raw_data_manager import raw_data_inspector as rdi
from constants import config
from absl import logging
logging.set_verbosity(logging.DEBUG)

split_train_dir = "/home/ubuntu/lemi_3w/data/dataset_converted_v10101_split-20_source-all_class-all_well-all_train"
train_metadata = rdi.RawDataInspector(
    split_train_dir,
    config.DIR_PROJECT_CACHE / "train_metadata.parquet",
    True
)

train_metadata_table = train_metadata.get_metadata_table()
train_metadata_table

,class_type,source,well_id,path,timestamp,file_size,num_timesteps
hash_id,,,,,,,
74203bb,NORMAL,REAL,1.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-05-24 03:00:00,491415,17885
9fbd6f9,NORMAL,REAL,2.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-08-09 06:00:00,520154,17933
28804c5,NORMAL,REAL,6.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-05-08 09:00:31,349162,17970
fa71d94,NORMAL,REAL,6.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-08-23 19:00:00,279737,17949
07d061e,NORMAL,REAL,1.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-02-01 07:01:14,475846,17927
...,...,...,...,...,...,...,...
1def3c2,SEVERE_SLUGGING,REAL,14.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-09-20 11:00:53,977958,17948
ea66cf6,SEVERE_SLUGGING,SIMULATED,NaN,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,NaT,2315903,61999
34f032a,SEVERE_SLUGGING,SIMULATED,NaN,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,NaT,2259539,61999
deac7ec,SEVERE_SLUGGING,SIMULATED,NaN,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,NaT,2045137,61999
c8867fa,SEVERE_SLUGGING,SIMULATED,NaN,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,NaT,2359418,61999

In [2]:
sample_metadata_table = train_metadata_table.iloc[0:10]
sample_metadata_table

,class_type,source,well_id,path,timestamp,file_size,num_timesteps
hash_id,,,,,,,
74203bb,NORMAL,REAL,1.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-05-24 03:00:00,491415,17885
9fbd6f9,NORMAL,REAL,2.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-08-09 06:00:00,520154,17933
28804c5,NORMAL,REAL,6.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-05-08 09:00:31,349162,17970
fa71d94,NORMAL,REAL,6.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-08-23 19:00:00,279737,17949
07d061e,NORMAL,REAL,1.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-02-01 07:01:14,475846,17927
ea7aff1,NORMAL,REAL,5.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-04-02 08:00:43,229363,17899
ef86e76,NORMAL,REAL,2.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-02-15 23:01:29,492019,17912
a24e72e,NORMAL,REAL,2.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-06-22 04:01:05,474760,17936
98bafe5,NORMAL,REAL,5.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-08-14 02:00:00,121535,10595
d12255b,NORMAL,REAL,1.0,/home/ubuntu/lemi_3w/data/dataset_converted_v1...,2017-05-23 12:00:00,455386,17834

In [3]:
from metric_acquisition import MetricAcquisition

metric_aquisition = MetricAcquisition(sample_metadata_table)

In [4]:
cache_file_name = "sample-data"

metric_aquisition.get_mean_and_std_metric(
    cache_file_name, False
)

DONE:   0%|          | 0/10 [00:00<?, ?it/s]

DEBUG:absl:Mean of means was adquired
DEBUG:absl:          P-PDG         P-TPT       T-TPT     P-MON-CKP  T-JUS-CKP  \
0  0.000000e+00  1.420389e+07  116.794133  6.122810e+06  69.415705
1  0.000000e+00  8.715824e+06  117.581821  1.539264e+06  77.332955
2  4.203851e+07  1.806945e+07  118.569073  2.492268e+06  79.545939
3  4.485805e+07  2.114707e+07  116.569785  1.224582e+07  61.885166
4  0.000000e+00  1.001934e+07  119.033867  1.575567e+06  84.148449
5  0.000000e+00  2.078830e+07  106.345925  1.150086e+07  67.224899
6  0.000000e+00  7.431188e+06  115.475035  1.654020e+06  68.952580
7  0.000000e+00  9.000967e+06  118.115476  1.759441e+06  77.845794
8  0.000000e+00  2.084315e+07  105.692047  1.173802e+07  65.322830
9  0.000000e+00  1.422271e+07  116.765043  6.131014e+06  69.071821

     P-JUS-CKGL  QGL
0  3.052964e+06  0.0
1  2.320418e+06  0.0
2  6.233022e+06  0.0
3  1.446720e+05  0.0
4  1.569573e+06  0.0
5  1.326475e+09  NaN
6  2.330222e+06  0.0
7  2.324333e+06  0.0
8  2.036077e+09  NaN
9  3.077911e+06  0.0
DEBUG:absl:Processed means was adquired
DEBUG:absl:P-PDG         8.689656e+06
P-TPT         1.444419e+07
T-TPT         1.150942e+02
P-MON-CKP     5.675908e+06
T-JUS-CKP     7.207461e+01
P-JUS-CKGL    3.383604e+08
QGL           0.000000e+00
dtype: float64

DONE:   0%|          | 0/10 [00:00<?, ?it/s]

DEBUG:absl:Mean of stds was adquired
DEBUG:absl:          P-PDG         P-TPT     T-TPT     P-MON-CKP  T-JUS-CKP  \
0  8.690142e+06  2.403141e+05  1.700008  4.469276e+05   2.659058
1  8.690140e+06  5.728684e+06  2.487740  4.136874e+06   5.258634
2  3.335071e+07  3.625466e+06  3.475046  3.183817e+06   7.471741
3  3.617041e+07  6.703258e+06  1.475647  6.570274e+06  10.190016
4  8.690141e+06  4.425096e+06  3.939866  4.100569e+06  12.074509
5  8.690141e+06  6.344461e+06  8.748784  5.825273e+06   4.849986
6  8.690141e+06  7.013392e+06  0.380836  4.022112e+06   3.122208
7  8.690140e+06  5.443525e+06  3.021424  3.916685e+06   5.771502
8  8.690476e+06  6.399561e+06  9.403061  6.062685e+06   6.752421
9  8.690143e+06  2.214871e+05  1.670916  4.551321e+05   3.002962

     P-JUS-CKGL  QGL
0  3.353262e+08  0.0
1  3.360588e+08  0.0
2  3.321459e+08  0.0
3  3.382346e+08  0.0
4  3.368097e+08  0.0
5  9.881694e+08  0.0
6  3.360490e+08  0.0
7  3.360548e+08  0.0
8  1.697877e+09  0.0
9  3.353013e+08  0.0
DEBUG:absl:Processed stds was adquired
DEBUG:absl:P-PDG         NaN
P-TPT         NaN
T-TPT         NaN
P-MON-CKP     NaN
T-JUS-CKP     NaN
P-JUS-CKGL    NaN
QGL           0.0
dtype: float64

            mean_of_means  mean_of_stds
P-PDG        8.689656e+06           NaN
P-TPT        1.444419e+07           NaN
T-TPT        1.150942e+02           NaN
P-MON-CKP    5.675908e+06           NaN
T-JUS-CKP    7.207461e+01           NaN
P-JUS-CKGL   3.383604e+08           NaN
QGL          0.000000e+00           0.0